// screen han
.md
  width 0 atuo
  height 500px
  background antiquewhite
  &:after
    content '0'
  &:before
    content '1'



@media all and (min-width: 700px)
  body
    background #000

@media (max-width: 700px) and ( min-width:600px)
  body
    background #f00

@media (max-width: 600px)
  body
    background aquamarine