@import "../header.styl"
@import "../footer.styl"

body
  background #efeff4
  padding 0px
  margin 0px
  font-family Microsoft Yahei
  .login_box
    margin-top 10px
    position relative
    display flex
    height 95px
    padding 0 15px
    background #fff

    .login_img
      position absolute
      top 50%
      left 15px
      width 64px
      height 64px
      margin-top -32px
      border-radius 50%
      background url("../../img/login_user-head@2x.png") no-repeat center
      background-size cover

    .login_con
      flex:1
      padding-left 80px
      line-height 95px

    &:after
      content ''
      position absolute
      top 50%
      right 15px
      display block
      margin-top -18px
      width 20px
      height 36px
      background url("../../img/login_right_icon@2x.png") no-repeat center
      background-size 50%
  .link_cell
      position relative
      height 50px
      padding-left 45px
      background #fff url("../../img/content_list_icon01@2x.png") no-repeat left 15px center
      background-size 20px
      line-height 50px
      margin-top 10px
      &:after
        content ''
        position absolute
        top 50%
        right 15px
        display block
        width 16px
        height 30px
        margin-top -15px
        background url("../../img/content_list_right_icon@2x.png") no-repeat center
        background-size 50%
  .release
    background #fff url("../../img/content_list_icon02@2x.png") no-repeat left 15px center
    background-size 20px
  .bespoke
    background #fff url("../../img/content_list_icon03@2x.png") no-repeat left 15px center
    background-size 20px
  .annals
    background #fff url("../../img/content_list_icon04@2x.png") no-repeat left 15px center
    background-size 20px
  .expire
    background #fff url("../../img/content_list_icon05@2x.png") no-repeat left 15px center
    background-size 20px


  .s_box
    display flex
    background #ffffff
    border-top 1px solid #D6D7DC
    text-align center
    height 45px
    line-height 45px
    .s_left
      flex:1


    .s_right
      flex:1
      float right
