@import "../header.styl"

.info-cells
  margin-top 20px
  background-color #fff
  .info-cell
    display flex
    padding 0 15px
    padding-right 30px
    line-height 40px
    border-bottom 1px solid #D6D7DC
    background url("../../img/content_list_right_icon@2x.png") no-repeat right 10px center
    background-size 0.55em
    .info-name
      flex 3
      font-size .875em
    .info-content
      flex 5
      text-indent 10px
      outline none
      border 0
      font-size 14px
      font-family SimHei
    .info-pic
      flex 5
      background url("../../img/info_index_03.png") no-repeat left 10px center
      background-size 16%
  .image-cell
    display flex
    .image-block
      flex 1

