@import "../header.styl"

.info_box
  border-top 1px solid #D6D7DC
  padding 20px 15px
  background-color #ffffff
  .info_img
    width 65px
    height 65px
    margin 0 auto
    border-radius 50%
    background url("../../img/info_index_03.png") no-repeat center
    background-size cover
    margin-bottom 5px
  .info_name
    text-align center
    line-height 24px
    font-size 28px
    height 24px
    margin-bottom 5px
  .info_desc
    height 18px
    text-align center
    line-height 18px
    font-size 14px
    margin-bottom 5px
  .info_edit
    width 6em
    margin 0 auto
    padding 5px 14px
    border 1px solid #ffa66b
    border-radius 5px
    color #ffa66b
    line-height 30px
.info-cells
  margin-top 20px
  background-color #fff
  .info-cell
    display flex
    padding 0 15px
    line-height 40px
    border-bottom 1px solid #D6D7DC
    .info-name
      flex 3
      font-size .875em
    .info-content
      flex 4
      text-indent 10px

  .image-cell
    display flex
    .image-block
      flex 1