body
  background-color #F5EEEA
  .logo
    position absolute
    width 100px
    height 100px
    background url(../../img/loading_03.png) no-repeat center
    background-size 100px
    top 40%
    left 50%
    margin-left -50px
    margin-top -100px

  .copy
    position absolute
    bottom 0
    width 100%
    text-align center
    color #7D7B7B
    font-family Microsoft Yahei
    font-size 14px
