<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>万事屋 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计的现代设计公司
    鸿鸣网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，鸿鸣网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/loading.css">
</head>
<body>
		<input type="text" id="user">
		<input type="password" id="passwd">
		<button id="send">
			登录
		</button>
	<div class="logo"></div>
	<div class="copy">Copyright&copy;2016</div>
		<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
	<script>
		/*window.onload=function(){
			location.href = './land/land.html'
		}*/
		$("#send" ).on("click",function(){
			var username = $("#user" ).val();
			var passwd = $("#passwd" ).val()

			$.ajax({
				url:'/api/user/login',
				type:'POST',
				dataType:'json',
				data:{
					username:username,
					passwd:passwd
				},
				success:function(result){
					console.log('result',result)
					if(result.code==1){
						alert("登陆成功")
					}else{
						alert(result.msg)
					}
				}
			})
		})
	</script>
</body>
</html>