<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_about.css">
</head>
<body>
<div class="header">
	<div class="icon-back"></div>
	<div class="header_title">关于</div>
</div>
<div class="info_banner">
	<div class="info_logo"></div>
	<div class="logo_bottom">
		<div class="bottom_pic"></div>
		<span class="bottom_text">v.1.0.0</span>
	</div>
</div>
<div class="about_cell"><span class="cell_text">电话</span><span class="cell_tel">021-68547845</span></div>
<div class="about_cell"><span class="cell_text">服务条款</span></div>
</body>
</html>