<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>万事屋 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info.css">
</head>
<body>
	<div class="header">
		<div class="header_title">我</div>
		<div ></div>
	</div>

	<div class="login_box">
		<div class="login_img">	</div>
		<div class="login_con">点击登录/注册</div>
	</div>
	<div class="s_box">
		<div class="s_left"><span>0</span><span>收藏</span></div>
		<div class="s_right"><span>0</span><span>积分</span></div>
	</div>

	<div class="link_cell">我发布的需求</div>
	<div class="link_cell release">我发布的房源</div>
	<div class="link_cell bespoke">我预约的房源</div>
	<div class="link_cell annals">历史交易</div>
	<div class="link_cell expire">过期房源</div>
</body>
</html>