<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_data.css">
</head>
<body>
<div class="header">
	<div class="icon-back"></div>
	<div class="header_title">个人资料</div>
</div>
<div class="info-cells">
	<div class="info-cell">
		<div class="info-name">头像</div>
		<div class="info-pic"></div>
	</div>
	<div class="info-cell">
		<div class="info-name">简介</div>
		<input class="info-content" type="text" value="一起喜欢一个人，现在喜欢一个人">
	</div>
	<div class="info-cell">
		<div class="info-name">企业邮箱/公司总机</div>
		<input class="info-content" type="text" value="823546415@qq.com">
	</div>
	<div class="info-cell">
		<div class="info-name">联系人</div>
		<input class="info-content" type="text" value="张三">
	</div>
	<div class="info-cell">
		<div class="info-name">联系方式</div>
		<input class="info-content" type="text" value="18956024163">
	</div>
	<div class="info-cell">
		<div class="info-name">微信号码</div>
		<input class="info-content" type="text" value="18956024163">
	</div>
	<div class="image-cell">

	</div>
</div>
</body>
</html>