<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>万事屋 - 杭州摆摆网络科技有限公司</title>
	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/bespeak/bespeak.css">
</head>
<body>
<div class="header">
	<div class="icon-back"></div>
	<div class="header_title">预约详情</div>
	<div class="icon"></div>
</div>
<div class="bespoke-t">预约人</div>
<div class="bespoke-top">
	<div class="top-box"><span class="bespoke-title">你才是张三</span><br/>
		<span class="bespoke-text">租户</span></div>
<span class="bespoke-pic"></span>
	<div class="clear"></div>
</div>
<div class="bespoke-t">预约信息</div>
<div class="bespoke-banner"><span class="bespoke-title">华旭国际大厦</span><br/>
	<span class="bespoke-text">区域：黄埔-人民广场</span>
	<span class="bespoke-text">房型：商务中心</span>
	<span class="bespoke-text">面积：766㎡</span>
	<span class="bespoke-text">单价：&yen;5.5元/㎡/天起</span>
	<div class="clear"></div>
</div>
<div class="bespoke-t">预约时间</div>
<div class="bespoke-banner"><span class="bespoke-title">
	2016-08-08
</span></div>
<div class="bespoke-t">预约状态</div>
<div class="bespoke-box">
	<div class="box-left">
	<span class="bespoke-title">08/10</span>
	<span class="bespoke-text">周三</span>
	</div>
	<div class="text-right">订单成功</div>
	<div class="clear"></div>
</div>
<div class="bespoke-box">
	<div class="box-left">
		<span class="bespoke-title">08/10</span>
		<span class="bespoke-text">周一</span>
	</div>
	<div class="text-right">已过期</div>
	<div class="clear"></div>
	</div>
<div class="bespoke-box">
	<div class="box-left">
		<span class="bespoke-title">08/10</span>
		<span class="bespoke-text">周六</span>
	</div>
	<div class="text-right">已接单，待反馈</div>
	<div class="clear"></div>
</div>

<div class="footer">
	<div class="footer-text">改期</div>
	<div class="footer-text">达成</div>
	<div class="footer-text">取消</div>
</div>
</body>
</html>