<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info.css">
</head>
<body>
<div class="header">
	<div class="icon-back"></div>
	<div class="header_title">预约详情</div>
</div>
<div class="bespoke-t">预约人</div>
<div class="bespoke-box"></div>
<div class="bespoke-t">预约信息</div>
<div class="bespoke-box"></div>
<div class="bespoke-t">预约时间</div>
<div class="bespoke-box"></div>
<div class="bespoke-t">预约状态</div>
<div class="bespoke-box"></div>
</body>
</html>