<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/bespeak/contract.css">
</head>
<body>
<header class="header">
	<div class="icon-back">取消</div>
	<div class="header_title">上传合同书</div>
	<div class="icon-back color">上传</div>
</header>
<div class="contract-title">请按照要求添加照片</div>
<div class="contract-pic">合同第一页</div>
<div class="contract-pic">合同最后一页</div>
</body>
</html>