<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>万事屋 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计的现代设计公司
    鸿鸣网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，鸿鸣网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/bespeak/contract.css">
</head>
<body>
<header class="header">
	<div class="icon-back" ontouchend="javascript:history.back()">取消</div>
	<div class="header_title">上传合同书</div>
	<div class="icon-back color">上传</div>
</header>
<div class="contract-title">请按照要求添加照片</div>
<div class="contract-pic"><input type="file" class="choose">合同第一页</div>
<div class="contract-pic"><input type="file" class="choose">合同最后一页</div>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/libs/zepto/touch.js"></script>
<script>
	$('.color' ).on('tap', function(){
		location.href = '../bespeak/bespeak_room.html'
	})
</script>
</body>
</html>