@import "../header.styl"

.bespoke-t
  color #b4b4b4
  padding 10px
  font-size 14px
.bespoke-top
  padding 13px 12px 13px 64px
  background url("../../img/content_img_user@2x.png") no-repeat left 10px center
  background-size 2.75em
  background-color #ffffff
  .top-box
    float left
    .bespoke-title
      display inline-block
    .bespoke-text
      font-size 14px
      color #646464
  .bespoke-pic
    float right
    display block
    width 40px
    height 40px
    background url("../../img/content_icon_call@2x.png") no-repeat center
    background-size 1.75em
.bespoke-box
  margin-top 1px
  padding 12px
  background-color #ffffff
  .box-left
    width 8em
    margin 0
    float left
    .bespoke-title
      display inline-block
    .bespoke-text
      display inline-block
      font-size 14px
      color #646464
      margin-right 35px
      width 140px

  .text-right
    text-align right
    width 15em
    float left
    height 1px
    line-height 1px
    margin-top 18px
    font-size 14px

.bespoke-banner
  margin-top 1px
  padding 12px
  background-color #ffffff
  .bespoke-title
    display inline-block
  .bespoke-text
    display inline-block
    font-size 14px
    color #646464
    margin-right 35px
    width 140px
    float left
.footer
  background-color #ffffff
  position fixed
  bottom 0
  display flex
  width 100%
  .footer-text
    display block
    flex 1
    text-align center
    height 50px
    line-height 50px
    color #ea5404
    border 1px solid #d6d7dc








.clear
  clear both