<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/land/land.css">
</head>
<body>
	<div class="header">
		<div class="icon-back"></div>
		<div class="header_title title_color">登录</div>
	</div>

	<div class="land_box">
		<div class="land_text">账号：<input type="text" placeholder="请输入您的手机号" class="text"></div>
		<div class="land_password">密码：<input type="password" placeholder="请输入您的账号密码" class="password"></div>
	</div>
	<div class="button"><button class="land_button" >登录</button></div>
	<div class="s_box">
		<div class="s_left"><a>注册</a></div>
		<div class="s_right"><a>忘记密码？</a></div>
	</div>
</body>
</html>