body {
  background-color: #efeff4;
  font-family: SimHei;
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.header .icon-back {
  flex: 1;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 15%;
}
.header .header_title {
  flex: 3;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}
.header .title_color {
  color: #ea5404;
}
.header .icon {
  flex: 1;
}
.footer {
  height: 50px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #d6d7dc;
  display: flex;
}
.footer .footer-block {
  text-align: center;
  color: #b4b4b4;
  flex: 1;
}
.footer .footer-block .footer-icon {
  width: 50px;
  height: 25px;
  display: block;
  background: url("../../img/bottom_nor_icon04@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
  margin: 0 auto;
}
.footer .footer-block .order {
  background: url("../../img/bottom_nor_icon03@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block .news {
  background: url("../../img/bottom_nor_icon02@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block .info {
  background: url("../../img/bottom_nor_icon01@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active {
  color: #ea5404;
}
.footer .footer-block.active .footer-icon {
  background: url("../../img/bottom_press_icon04@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active .order {
  background: url("../../img/bottom_press_icon03@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active .news {
  background: url("../../img/bottom_press_icon02@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block.active .info {
  background: url("../../img/bottom_press_icon01@2x.png") no-repeat center top 5px;
  background-size: 45% 80%;
}
.footer .footer-block .publish-icon {
  width: 88px;
  height: 76px;
  display: block;
  background: url("../../img/bottom_icon05@2x.png") no-repeat 28px 6px;
  background-size: 44px 38px;
}
.footer .footer-block .footer-name {
  font-size: 14px;
}
body {
  background: #efeff4;
  padding: 0px;
  margin: 0px;
  font-family: Microsoft Yahei;
}
body .login_box {
  margin-top: 10px;
  position: relative;
  display: flex;
  height: 95px;
  padding: 0 15px;
  background: #fff;
}
body .login_box .login_img {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  border-radius: 50%;
  background: url("../../img/login_user-head@2x.png") no-repeat center;
  background-size: cover;
}
body .login_box .login_con {
  flex: 1;
  padding-left: 80px;
  line-height: 95px;
}
body .login_box:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  margin-top: -18px;
  width: 20px;
  height: 36px;
  background: url("../../img/login_right_icon@2x.png") no-repeat center;
  background-size: 50%;
}
body .link_cell {
  position: relative;
  height: 50px;
  padding-left: 45px;
  background: #fff url("../../img/content_list_icon01@2x.png") no-repeat left 15px center;
  background-size: 20px;
  line-height: 50px;
  margin-top: 10px;
}
body .link_cell:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 16px;
  height: 30px;
  margin-top: -15px;
  background: url("../../img/content_list_right_icon@2x.png") no-repeat center;
  background-size: 50%;
}
body .release {
  background: #fff url("../../img/content_list_icon02@2x.png") no-repeat left 15px center;
  background-size: 20px;
}
body .bespoke {
  background: #fff url("../../img/content_list_icon03@2x.png") no-repeat left 15px center;
  background-size: 20px;
}
body .annals {
  background: #fff url("../../img/content_list_icon04@2x.png") no-repeat left 15px center;
  background-size: 20px;
}
body .expire {
  background: #fff url("../../img/content_list_icon05@2x.png") no-repeat left 15px center;
  background-size: 20px;
}
body .s_box {
  display: flex;
  background: #fff;
  border-top: 1px solid #d6d7dc;
  text-align: center;
  height: 45px;
  line-height: 45px;
}
body .s_box .s_left {
  flex: 1;
}
body .s_box .s_right {
  flex: 1;
  float: right;
}
