<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>万事屋 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计的现代设计公司
    鸿鸣网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，鸿鸣网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,
	 				minimum-scale=1,user-scable=no">
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/notice/demand.css">
</head>
<body>
	<header class="tab_box">
		<ul class="tab_bar">
			<li class="tab_bar-cell" id="news">消息</li>
			<li class="tab_bar-cell" id="notice">通知</li>
			<li class="tab_bar-cell active" id="demand">需求</li>
		</ul>
	</header>
	<article class="demand_cells">
		<section class="demand_cell">
			<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag">租户</i></header>
			<p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁</p>
			<footer class="demand-footer"><em class="footer-time"></em><span class="btn-detail">了解详情</span><em class="footer-time">08/04/13:06</em></footer>
		</section>
		<section class="demand_cell">
			<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag color2">经纪人</i></header>
			<p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁</p>
			<footer class="demand-footer"><em class="footer-time"></em><span class="btn-detail">了解详情</span><em class="footer-time">08/04/13:06</em></footer>
		</section>
		<section class="demand_cell">
			<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag color3">招商</i></header>
			<p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁</p>
			<footer class="demand-footer"><em class="footer-time"></em><span class="btn-detail">了解详情</span><em class="footer-time">08/04/13:06</em></footer>
		</section>
		<section class="demand_cell">
			<header class="demand-title"><span class="d-t-name">一个新的租房要求</span><i class="d-t-tag color4">代理商</i></header>
			<p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁</p>
			<footer class="demand-footer"><em class="footer-time"></em><span class="btn-detail">了解详情</span><em class="footer-time">08/04/13:06</em></footer>
		</section>
	</article>
	<div class="footer-box">
	<footer class="footer">
		<div class="footer-block index-icon">
			<i class="footer-icon"></i>
			<span class="footer-name">首页</span>
		</div>
		<div class="footer-block order-icon">
			<i class="footer-icon order"></i>
			<span class="footer-name">预约</span>
		</div>
		<div class="footer-block publish_icon">
			<em class="publish-icon"></em>
		</div>
		<div class="footer-block active news-icon">
			<i class="footer-icon news"></i>
			<span class="footer-name">信息</span>
		</div>
		<div class="footer-block info-icon">
			<i class="footer-icon info"></i>
			<span class="footer-name">我</span>
		</div>
	</footer>
	</div>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../../public/libs/zepto/touch.js"></script>
	<script src="../../public/js/notice.js"></script>
	<script src="../../public/js/index.js"></script>
</body>
</html>