@import "../header.styl"

.land_box
  background #fff
  margin-top 10px
  .land_text
    display flex
    padding-left 45px
    height 50px
    line-height 50px
    border-top 1px solid #e1e1e1
    background url("../../img/content_ID_icon@2x.png") no-repeat left 12px center
    background-size 6%
    .text
      border none
      outline none
      padding 22px 0
      flex:1
  .land_password
    display flex
    padding-left 45px
    height 50px
    line-height 50px
    border-bottom 1px solid #e1e1e1
    background url("../../img/content_password_icon@2x.png") no-repeat left 14px center
    background-size 1.15em
    .password
      border none
      outline none
      padding 22px 0
      flex:1
.button
  padding 12px
  margin-top 33px
  .land_button
    margin 0 auto
    width 351px
    height 44px
    background #c7c7c7
    border none
    outline none
    border-radius 5px
    color #ffffff
    font-size 20px

.s_box
  padding 0 18px
  display flex
  font-size 14px
  .s_left
    flex 1
    color #ff8a00
  .s_right
    flex 1
    text-align right
    color #646464
