@import "../header.styl"
@import '../mask.styl'

.register_box
  background #fff
  margin-top 10px
  .register_text
    position relative
    display flex
    padding-left 45px
    height 50px
    line-height 50px
    background url("../../img/content_ID_icon@2x.png") no-repeat left 12px center
    background-size 6%
    &:after
      content ''
      position absolute
      height 1px
      display block
      width 92%
      margin-top 50px
      margin-left -30px
      text-align center
      background #e1e1e1
    .text
      border none
      outline none
      flex:1


  .register_code
    margin-top 1px
    position relative
    display flex
    height 50px
    line-height 50px
    background url("../../img/content_verify_icon@2x.png") no-repeat left 16px center
    background-size 0.875em
    padding 0 12px
    padding-left 45px
    &:after
      content ''
      position absolute
      height 1px
      display block
      width 92%
      margin-top 50px
      margin-left -30px
      text-align center
      background #e1e1e1
    .obtain
      font-size 12px
      padding 5px
      border-radius 5px
      background #ea5404
      color #fff
      height 20px
      line-height 20px
      margin-top 10px
    .code
      border none
      outline none
      flex:1

  .register_password
    margin-top 1px
    display flex
    padding-left 45px
    height 50px
    line-height 50px
    background url("../../img/content_password_icon@2x.png") no-repeat left 14px center
    background-size 1.15em
    &:after
      content ''
      position absolute
      height 1px
      display block
      width 92%
      margin-top 50px
      margin-left -30px
      text-align center
      background #e1e1e1
    .password
      border none
      outline none
      padding 22px 0
      flex:1

  .register_status
    margin-top 1px
    position relative
    display flex
    padding-left 45px
    height 50px
    line-height 50px
    background url("../../img/content_position_icon@2x.png") no-repeat left 12px center
    background-size 6%
    border-bottom 1px solid #elelel
    .status
      border none
      outline none
      flex:1
  .form-cell
    padding 0 15px
    height 50px
    line-height 50px
    display flex
    position relative
    .form-cell-name
      padding-left 30px
      background url(../../img/content_ID_icon@2x.png) no-repeat 0 15px
      width 50px
      height 50px
      line-height 50px
      background-size 20%
      flex 1
    .form-cell-input
      border none
      flex 3
      font-size 14px
    .cell-iden
      background url(../../img/content_position_icon@2x.png) no-repeat 0 15px
      background-size 1.3em
    .cell-box
      position absolute
      right 15px
      top 30px
      background #a3a3a3
      border-radius 5px
      display none
      ul
        padding 0
        margin 0
        list-style none
        width 65px
        color #fff
        font-size 14px
        li
          text-align center
          line-height 28px
          border-bottom 1px solid #fff
      &:after
        content ''
        height 1px
        background-color #ccc
        position absolute
        left 15px
        right 15px
        &:first-child:after
          content ''
          display none

.button
  padding 12px
  margin-top 33px
  .register_button
    width 351px
    height 44px
    background #c7c7c7
    border none
    outline none
    border-radius 5px
    color #ffffff
    font-size 20px


.s_box
  width 100%
  font-size 12px
  text-align center
  .text
    color #ea5404