@import "../header.styl"

.header
  text-align center
  line-height 50px
  .icon-back
    background #fff
    font-size 15px

.release_search
  display flex
  .search_text
    flex 5
    margin 12px
    padding 10px
    padding-left 33px
    border-radius 3px
    outline none
    border 0
    font-size 14px
    background url("../../img/content_search_icon@2x.png") no-repeat left 6px center #fff
    background-size 1.2em
  .search_add
    flex 2
    font-size 15px
    padding 10px
    padding-left 22px
    line-height 40px
    background url("../../img/content_plus_icon@2x.png") no-repeat left 0 center
    background-size 1.2em

.building_info
  background-color #ffffff
  padding 12px
  .title_block
    display inline-block
    height 24px
    line-height 24px
    .title_round
      display inline-block
      width 5px
      height 5px
      background-color #bee949
      position relative
      top -4px
      border-radius 50%
    .building_title
      margin 10px
      font-size 18px
      color #646464
  .building_cell
    display flex
    height 24px
    line-height 24px
    .cell_title
      display inline-block
      flex 2
      font-size 14px
      text-align right
      width 20%
      color #646464
    .cell_text
      display inline-block
      flex 5
      width 80%
      font-size 14px
      color #b4b4b4
      border-bottom 1px solid #d6d7dc

.housing_info
  background-color #ffffff
  padding 12px
  margin-top 12px
  .title_block
    display inline-block
    height 24px
    line-height 24px
    .title_round
      display inline-block
      width 5px
      height 5px
      background-color #49cde9
      position relative
      top -4px
      border-radius 50%
    .housing_title
      margin 10px
      font-size 18px
      color #646464

  .radio_title
    font-size 14px
    color #646464
    padding-left 24px
  .housing_radio
    padding 10px 24px
    border-bottom 1px solid #e1e1e1
    .radio_box
      display inline-block
      height 24px
      line-height 24px
      font-size 14px
      .radio_btn
        display inline-block
        width 8px
        height 8px
        border 1px solid #ea5404
        border-radius 50%
        vertical-align bottom
        margin 6px
      &.active
        .icon
          display inline-block
          width 2px
          height 2px
          margin 2px
          border 1px solid transparent
          border-radius 50%
          background-color #ea5404

  .housing_cells
    padding-right 5px
    .housing_cell
      line-height 30px
      margin-top 10px
      .cell_title
        display inline-block
        color #b4b4b4
        font-size 14px
        &.active
          position relative
          top 0
          display block
          float left
      .cell_text
        font-size 14px
        border none
        outline none
        background-color #efeff4
        border-radius 5px
        height 20px
        width 110px
        margin 0 10px
        padding 5px

        &.active
          width 74%
        &.textArea
          width 74%
          height 90px
          float left
      .select_box
        float right
        width 81%
        position relative
        .select-title
          position relative
          height 30px
          padding 0 10px
          background-color #efeff4

          border-radius 5px
          line-height 30px
          font-size 14px
          color #b4b4b4
          &:before
          &:after
            content ''
            position absolute
            top 10px
            right 21px
            display block
            width 2px
            height 10px
            background-color #b4b4b4
            transform rotate(-45deg)
          &:after
            right 15px
            transform rotate(45deg)
        .select-list
          display none
          position absolute
          top 38px
          right 0
          left 0
          z-index 5
          border 1px solid #efeff4
          list-style none
          margin 0
          padding 0


          .select-li
            position relative
            height 40px
            padding 0 10px
            line-height 40px
            font-size 14px
            background-color #efeff4
            color #b4b4b4
            &:after
              content ''
              position absolute
              right 0
              bottom 0
              left 10px
              display block
              height 1px

            &:last-child:after
              display none
    .add_pic
      width 74px
      height 34px
      background url("../../img/content_plus_icon@2x.png") no-repeat top 20px center
      background-size 30%
      background-color #d4d4d9
      font-size 14px
      text-align center
      color #646464
      margin  22px
      padding-top 40px
    .clear
      clear both

.footer_btn
  background #ffffff
  margin-top 10px
  padding 11px
  .btn_info
    margin 0 auto
    width 350px
    height 40px
    background #ea5404
    border 0
    color #fff
    outline none
    border-radius 5px
    text-align center







